{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->

<!-- Start of Hero image section -->
<div class="row">
    <div class="col-12">
        <section id="hero-container">
            <div id="hero-bg-img"></div>
            <div id="overlay-text">
                <h4>
                    Step into nature to restore deep mental calm
                </h4>
            </div>
        </section>
    </div>
</div>
<!-- End of Hero image section -->

<!-- Start of About section -->
<section id="about-section">
    <div class="row">
        <div class="col-12">
            <h2 id="about" class="uppercase">{{ about.title }}</h2>
            <hr>
            {{ about.content | safe }}
        </div>
    </div>
    <!-- About section circular category images -->
    <div id="about-sec-cats-wrapper" class="row">
        {% for img in about_sec_imgs %}
        <!-- Use Bootstrap classes to create responsive grid format across mobile and larger screen devices -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="about-sec-cat">
                <a href="#mountains">
                    <img src="{% static 'images/about-sec-cat-img-mountain.webp' %}" alt="Mountains peaks">
                </a>
                <a href="#mountains">
                    <h4>{{ img.title }}</h4>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
        
    <!-- End of About section circular category images -->
</section>
<!-- End About section -->

 <!-- Start of 'Categories content section'-->
<section id="cats-content-section">
    {% for post in post_list %}
    <div class="cat-content-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 id="mountains">{{ post.category }}</h2>
                <hr>
            </div>
        </div>
        <!-- Use a combination of 'flex' and custom media queries to make layout responsive across various screen sizes (repeated across all categories)-->
        <div class="cat-content-flex-container">
            <div class="cat-content-img-wrapper">
                {% if "placeholder" in post.featured_image.url %}
  <img class="cat-content-img" src="{% static 'images/default.webp' %}"
    alt="placeholder image">
  {% else %}
  <img class="cat-content-img" src=" {{ post.featured_image.url }}"
    alt="{{ post.title }}">
  {% endif %}
            </div>
            <div class="cat-content-text-wrapper">
                <h4>{{ post.title }}</h4>
                <hr>
                {{ post.content | safe }}
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!-- End of 'Categories content section'-->

 <!-- Start of 'Form section'-->
 <section id="form-section">
    <!-- Make video bg auto play, silently on loop -->
    <video id="form-bg-video" muted="muted" loop playsinline autoplay>
        <source src="#" type="video/mp4">
    </video>
    <form id="form-overlay" method="POST" aria-label="share a discovery">
        <h2>Share a Discovery</h2>
        {{ share_form }}
        {% csrf_token %}
        <button type="submit" id="share-btn" aria-label="Submit Form">Share</button>
    </form>
</section>
<!-- End of 'Form section'-->

<!-- index.html content ends here -->
{% endblock %}