{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->

<!-- Start of Hero image section -->
<div class="row">
    <div class="col-12">
        <section id="hero-container">
            <div id="hero-bg-img"></div>
            <div id="overlay-text">
                <h4>
                    Step into nature to restore deep mental calm
                </h4>
            </div>
        </section>
    </div>
</div>
<!-- End of Hero image section -->

<!-- Start of About section -->
<section id="about-section">
    <div class="row">
        <div class="col-12">
            <h2 id="about" class="uppercase">{{ about.title }}</h2>
            <hr>
            {{ about.content | safe }}
        </div>
    </div>
    <!-- About section circular category images -->
    <div id="about-sec-cats-wrapper" class="row">
        {% for about_sec_img in about_sec_imgs %}
        <!-- Use Bootstrap classes to create responsive grid format across mobile and larger screen devices -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="about-sec-cat">
                <a href="#mountains">
                    {% if "placeholder" in about_sec_img.featured_image.url %}
                    <img src="{% static 'images/about-default.webp' %}" alt="placeholder image">
                    {% else %}
                    <img src=" {{ about_sec_img.featured_image.url }}" alt="{{ about_sec_img.title }}">
                    {% endif %}
                </a>
                <a href="#mountains">
                    <h4>{{ about_sec_img.title }}</h4>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- End of About section circular category images -->
</section>
<!-- End About section -->

<!-- Start of 'Categories content section'-->
<section id="cats-content-section">
    <div class="cat-content-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 id="mountains">Mountains</h2>
                <hr>
            </div>
        </div>
        <!-- Use a combination of 'flex' and custom media queries to make layout responsive across various screen sizes (repeated across all categories)-->
        {% for post in post_list %}
        {% if "Mountains" in post.category %}
        <div class="cat-content-flex-container">
            <div class="cat-content-img-wrapper">
                {% if "placeholder" in post.featured_image.url %}
                <img class="cat-content-img" src="{% static 'images/default.webp' %}" alt="placeholder image">
                {% else %}
                <img class="cat-content-img" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="cat-content-text-wrapper">
                <h4>{{ post.title }}</h4>
                <hr>
                {{ post.content | safe }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="cat-content-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 id="coasts">Coasts</h2>
                <hr>
            </div>
        </div>
        <!-- Use a combination of 'flex' and custom media queries to make layout responsive across various screen sizes (repeated across all categories)-->
        {% for post in post_list %}
        {% if "Coasts" in post.category %}
        <div class="cat-content-flex-container">
            <div class="cat-content-img-wrapper">
                {% if "placeholder" in post.featured_image.url %}
                <img class="cat-content-img" src="{% static 'images/default.webp' %}" alt="placeholder image">
                {% else %}
                <img class="cat-content-img" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="cat-content-text-wrapper">
                <h4>{{ post.title }}</h4>
                <hr>
                {{ post.content | safe }}
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="cat-content-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 id="lakes">Lakes</h2>
                <hr>
            </div>
        </div>
        <!-- Use a combination of 'flex' and custom media queries to make layout responsive across various screen sizes (repeated across all categories)-->
        {% for post in post_list %}
        {% if "Lakes" in post.category %}
        <div class="cat-content-flex-container">
            <div class="cat-content-img-wrapper">
                {% if "placeholder" in post.featured_image.url %}
                <img class="cat-content-img" src="{% static 'images/default.webp' %}" alt="placeholder image">
                {% else %}
                <img class="cat-content-img" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="cat-content-text-wrapper">
                <h4>{{ post.title }}</h4>
                <hr>
                {{ post.content | safe }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="cat-content-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 id="forests">Forests</h2>
                <hr>
            </div>
        </div>
        <!-- Use a combination of 'flex' and custom media queries to make layout responsive across various screen sizes (repeated across all categories)-->
        {% for post in post_list %}
        {% if "Forests" in post.category %}
        <div class="cat-content-flex-container">
            <div class="cat-content-img-wrapper">
                {% if "placeholder" in post.featured_image.url %}
                <img class="cat-content-img" src="{% static 'images/default.webp' %}" alt="placeholder image">
                {% else %}
                <img class="cat-content-img" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="cat-content-text-wrapper">
                <h4>{{ post.title }}</h4>
                <hr>
                {{ post.content | safe }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<!-- End of 'Categories content section'-->

<!-- Start of 'Form section'-->
<section id="form-section">
    {% for video in share_form_bg_vid %}
    <!-- Make video bg auto play, silently on loop -->
    <video id="form-bg-video" muted="muted" loop playsinline autoplay>
        <source src="{{ video.featured_video.url }}" type="video/mp4">
        {% endfor %}
    </video>
    <form id="form-overlay" method="POST" aria-label="share a discovery">
        <h2>Share a Discovery</h2>
        {{ share_form }}
        {% csrf_token %}
        <button type="submit" id="share-btn" aria-label="Submit Form">Share</button>
    </form>
</section>
<!-- End of 'Form section'-->

<!-- index.html content ends here -->
{% endblock %}