{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="cat-content-wrapper">
    <div class="row">
        <div class="col-12">
            <h3 id="post-detail-title">{{ post.title }}</h3>
            <p id="post-detail-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            <hr>
        </div>
    </div>
    <div class="cat-content-flex-container">
        <div class="cat-content-img-wrapper">
            {% if "placeholder" in post.featured_image.url %}
            <img class="cat-content-img" src="{% static 'images/default.webp' %}" alt="placeholder image">
            {% else %}
            <img class="cat-content-img" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}
        </div>
        <div class="cat-content-text-wrapper">
            {{ post.content | safe }}
        </div>
    </div>
</div>

<!-- Displaying count of comments -->

<div class="comment-count-wrapper">
    <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
    </strong>
    <hr>
</div>

  
  <!-- Displaying Comments -->
<div id = "comments-sec-flex-container">
    <div class="comments-display-wrapper">
        <div>
            <h4 id="comments-heading">Comments:</h4>
        </div>
        <div class="comment-body">
            <!-- We want a for loop inside the empty control tags
            to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="{% if not comment.approved and comment.author == user %} faded
            {% elif not comment.approved %} d-none{% endif %}">
                <p id="comment-info" class="font-weight-bold">
                    {{ comment.author }}
                    <span>
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.body | linebreaks }}
                </div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">
                    This comment is awaiting approval
                </p>
                {% endif %}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
</div>

<!-- Creating New Comments -->
    <div class="comment-form-wrapper">
        <div class="form-body">
        {% if user.is_authenticated %}
        <h4>Leave a comment:</h4>
        <p>Posting as: {{ user.username }}</p>
        <div id="comment-form-container">
        <form id="commentForm" method="post">
            {{ comment_form }}
            {% csrf_token %}
            <button id="comment-btn" type="submit">Submit</button>
        </div>  
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock content %}